// common
* {
  margin: 0;
  padding: 0;
}

//variable
$color-bk: black;
$color-c4: #c4c4c4;
$color-dp: #8068AD;
$color-pp: #C8B5C8;
$color-yel: #EDEBB2;
$color-d6: #d6d6d6;
$color-cr: #FFFEF9;
$color-dg: rgb(71, 71, 71);
$border-bk: 1px solid black;
$border-red: 1px solid red;
$per100: 100%;

//class-set
@mixin flex-align-justify($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin border($px, $color) {
  border: $px solid $color;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

%default {
  width: 100vw;
  height: 100vh;
}

%flex-column {
  flex-direction: column;
}

%circle {
  border-radius: 100%;
}

%border-30px {
  border-radius: 30px;
}

%flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%font-stack{
  font-family: 'Roboto', sans-serif;
}

//style
#root {
  @extend %default;

  #con {
    @extend %default;
    @include flex-align-justify(center, center);
    @extend %flex-column;
    color: gray;

    >div {
      width: inherit;
      flex-grow: 1;
      // border: $border-bk;
      @extend %flex-column;
      @include flex-align-justify(center, center);

      >div {
        width: 80%;
        // border: $border-red;
      }
    }

    >div:nth-child(1) {
      >div:nth-child(1) {
        flex-grow: 1;
        @include flex-align-justify(flex-end, flex-start);
        i{
          color: $color-c4;
          font-size: 3rem;
        }
      }

      >div:nth-child(2) {
        flex-grow: 1;
        >div:nth-child(1){
          >div{
            @extend %font-stack;
            font-size: 2rem;
            font-weight: 500;
            color: gray;
            
          }
        }
        >div:nth-child(2){
          >div{
            color: gray;
          }
        }
      }

      >div:nth-child(3) {
        flex-grow: 1;
        @include flex-align-justify(center, flex-end);

        >ul {
          width: 10%;
          @include flex-align-justify(center, space-between);
          list-style-type: none;

          li {
            @include width-height(2vw, 2vw);
            background-color: $color-c4;
            @extend %circle;
          }

          li:nth-child(1) {
            background-color: $color-dg;
          }
        }
      }
    }

    // card bg
    >div:nth-child(2) {
      width: 90%;
      background-color: $color-c4;
      @extend %flex-center-center;
      @extend %border-30px;

      >div:nth-child(1) {
        @include flex-align-justify(center, flex-end);
        color: #fff;
        font-size: small;
        font-weight: 300;
      }

      >div:nth-child(2) {
        @extend %flex-center-center;
        @extend %font-stack;
        font-size: 4rem;
        font-weight: 900;
        color: $color-dg;
      }

      >div:nth-child(3) {
        // border: $border-bk;
        // @extend %flex-center-center;
        @include width-height(80%, 30%);
        @include flex-align-justify(flex-start, flex-end);
        @extend %flex-column;
        row-gap: 2vw;

        >div{
          // border: $border-bk;
          width: 50%;
          // grid로도 해결해보기
          @include flex-align-justify(flex-start, flex-start);

          >ul {
            width: $per100;
            // border: $border-bk;
            list-style-type: none;
            @include flex-align-justify(center, space-between);

            >li {

            }
          }
        }
        >div:nth-child(3){
          @include width-height(10vw, 10vw);
          // @include border(1px, #fff);
          position: absolute;
          right: 14vw;
          top: 40vh;
          i{
            color: gray;
            font-size: 2.5rem;
          }
        }

        // >div:nth-child(5){
        //   >div{
        //     position: relative;
        //     left: 50vw;
        //   }
      }
      >div:nth-child(4){
        width: 80%;
        // @include border(1px, #fff);
        @include flex-align-justify(center, space-between);
        >div:nth-child(1){
          letter-spacing: 2vw;
          color: $color-dg;
        }
        >div:nth-child(2){
          i{
            color: $color-dg;
            font-size: 3rem;
          }
        }
      }
    }

    >div:nth-child(3) {
      // border: $border-red;

      >div {
        @include width-height(90%, 90%);
        @include flex-align-justify(center, center);
        @extend %flex-column;
        background-color: $color-c4;
        @extend %border-30px;
        // border: $border-bk;


        >div{
          @include width-height(inherit, 50%);
          // border: $border-bk;
          @include flex-align-justify(center, center);
          @extend %flex-column;
          position: relative;
          top: 1vh;

          >div {
            @include width-height(inherit, 5vh);
            @include flex-align-justify(center, center);
            @extend %flex-column;

            >div:nth-child(1) {
              @include width-height(80vw, 1.5rem);
              // border: $border-bk;
              @include flex-align-justify(center, space-between);
              >div:nth-child(1){
                font-weight: 700;
                color: $color-dg;
              }
            }
          }
          >div:nth-child(1){
            // bar bg
            >div:nth-child(2) {
              @include width-height(80vw, 5vh);
              // border: $border-bk;
              @include flex-align-justify(center, flex-start);
  
              >div:nth-child(1) {
                @include width-height(80vw, 2vw);
                background-color: #d6d6d6;
                @extend %border-30px;
              }
  
              >div:nth-child(2) {
                @include width-height(30vw, 2vw);
                background-color: $color-dg;
                @extend %border-30px;
                position: absolute;
              }
              // point con
              >div:nth-child(3){
                // border: $border-bk;
                position: absolute;
                right: 40vw;
                @include flex-align-justify(center, center);
                @extend %flex-column;
                >div:nth-child(1){
                  position: relative;
                  @include width-height(1vw, 1vw);
                  top: 1vh;
                  background-color: #fff;
                  @extend %circle;
                }
                >div:nth-child(2){
                  color: #fff;
                  position: relative;
                  top: 2vh;
                }
              }
            }
          }
        }
        >div:nth-child(2){
          >div{
            // border: $border-red;
            >div:nth-child(2){
              >div:nth-child(3){
                position: absolute;
                right: 30vw;
                @include flex-align-justify(center, center);
                @extend %flex-column;
                  >div:nth-child(1){
                    position: relative;
                    top: 1vh;
                    background-color: #fff;
                    @extend %circle;
                  }
                  >div:nth-child(2){
                    color: #fff;
                    position: relative;
                    top: 2vh;
                  }
              }
            }
          }
        }
        >div:nth-child(3){
          >div{
            // border: $border-red;
            >div:nth-child(2){
              >div:nth-child(3){
                position: absolute;
                right: 10vw;
                @include flex-align-justify(center, center);
                @extend %flex-column;
                  >div:nth-child(1){
                    position: relative;
                    top: 1vh;
                    background-color: $color-dg;
                    @extend %circle;
                    background-color: #fff;
                  }
                  >div:nth-child(2){
                    color: #fff;
                    position: relative;
                    top: 2vh;
                  }
              }
            }
          }
        }
        >div:nth-child(4){
          @include width-height(inherit, 15vh);
          position: relative;
          top: -1vh;
          @include flex-align-justify(flex-start, center);
          >div{
            @include width-height(15vw, 7vw);
            @extend %border-30px;
            background-color: rgb(168, 168, 168);
            color: dimgray;
            position: inherit;
            left: 5vw;
          }
        }
      }
    }
  }
}